<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/img/linar-logo.png" alt="Linar Logo" class="brand-image img-circle elevation-2" >
    <span class="brand-text font-weight-light">Linar Inc.</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="../dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-friends"></i>
            <p>Clients
              <i class="right fas fa-angle-left"></i>
            </p>   
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../clients" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Show All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../client-add" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../client-request" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>For Approval</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>Agents
              <i class="right fas fa-angle-left"></i>
            </p>   
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../agents" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Show All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../agent-add" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>Products<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../products" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Items</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../product-add" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Product</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              Orders
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../orders" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Show All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <p>
              Deliveries
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../deliveries" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Show List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../adddeliveries" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>
              Reports
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quarterly</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yearly</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Extra
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/tables/simple.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Simple Tables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/tables/data.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>DataTables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/tables/jsgrid.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>jsGrid</p>
              </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>