<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h1>Agents</h1>
                </div>
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Agents</li>
                    <li class="breadcrumb-item active">Add Agent</li>
                </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
      
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"><h3>Add Agent</h3></div>
                        </div>
                        <div class="card-body">
                            <form method="POST" id="addAgentForm">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="agentName">Agent Name</label>
                                        <input type="text" class="form-control" id="agentName" name="agentName" placeholder="Agent Name" required>
                                    </div>
                                </div>    
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="agentContact">Contact Number</label>
                                        <input type="text" class="form-control" id="agentContact" name="agentContact" placeholder="Contact Number" required>
                                    </div>
                                </div>

                                <div class="form-row justify-content-end">
                                    <button type="button" id="addAgent" class="btn btn-primary">Add Agent</button>
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>