#login-body{
    padding: 4% 3% 5% 3%;
    background: linear-gradient(to right, #fff0f1 0%, #fff0f1 50%, #cb2d3e 50%, #cb2d3e 100%);
    box-shadow: 10px 10px 10px 5px #cc8f95;
    color: #fff;
}

.login-content{
    margin: 6em;
}


#left{
    color: #cb2d3e;
    padding-right: 6%;
}

#right{
    padding-left: 6%;
}

.card-head{
    text-align: center;
    padding: 1%;
}

.login{
    margin-top: 4em;
}

.forgot-pw{
    color: #fff;
    text-decoration: underline;
}

.rowClick{
  cursor: pointer;
}
